@keyframes Index-logo-navi-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Index-logo-react-spin {
  from {
    transform: rotate(330deg);
  }
  to {
    transform: rotate(-30deg);
  }
}